.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.shirt {
  position: relative;
}

.text {
  position: absolute;
  color: gray;
  font-size: 25px;
  top: 100px;
  left: 120px;
}

.shirt img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.price {
  font-size: 25px;
}

.price span{
  float: right;
}

.color-preview {
  border: 1px solid #CCC;
  margin: 2px;
  vertical-align: top;
  float: left;
  cursor: pointer;
  overflow: hidden;
  width: 20px;
  height: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
